[submodule "goit-pycore-hw-03"]
	path = goit-pycore-hw-03
	url = https://github.com/youryharchenko/goit-pycore-hw-03.git
[submodule "goit-pycore-hw-04"]
	path = goit-pycore-hw-04
	url = https://github.com/youryharchenko/goit-pycore-hw-04.git
[submodule "goit-pycore-hw-05"]
	path = goit-pycore-hw-05
	url = https://github.com/youryharchenko/goit-pycore-hw-05.git
[submodule "goit-pycore-hw-06"]
	path = goit-pycore-hw-06
	url = https://github.com/youryharchenko/goit-pycore-hw-06.git
[submodule "goit-pycore-hw-07"]
	path = goit-pycore-hw-07
	url = https://github.com/youryharchenko/goit-pycore-hw-07.git
